.vscode/
azure/credentials.md
terraform/.terraform/
terraform/.terraform/*
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
*/terraform.tfstate
terraform.tfstate
.terraform.tfstate.lock.info
